<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-picture">
    <canvas #canvas></canvas>
  </div>

  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [value]="userName" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Correo Electrónico</ion-label>
    <ion-input [value]="userEmail" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">RUT</ion-label>
    <ion-input [value]="userRut" readonly></ion-input>
  </ion-item>

  <ion-item *ngIf="city">
    <ion-label position="stacked">Ciudad</ion-label>
    <ion-input [value]="city" readonly></ion-input>
  </ion-item>

  <ion-item *ngIf="latitude">
    <ion-label position="stacked">Latitud</ion-label>
    <ion-input [value]="latitude" readonly></ion-input>
  </ion-item>

</ion-content>
