.custom-background {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: flex-start; /* Cambiado para evitar centrar en vertical */
  height: 100vh;
  padding-top: 20px; /* Añadido un padding para separar el contenido de la parte superior */
  background-image: url('/assets/images/duocuc.png'); 
  background-size: cover; 
  background-position: center; 
  position: relative; 
}

ion-content {
  background-color: transparent; 
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Cambiado para alinear en la parte superior */
  width: 100%;
  height: auto; /* Cambiado a auto para permitir que el contenido se ajuste */
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 12px;
  position: relative;  
  z-index: 1; 
}

.custom-item {
  --background: transparent;
  --color: #000;
  --placeholder-color: #a3a3a3;
  margin-bottom: 15px;
  border-radius: 8px;
}

.custom-label {
  color: #000;
}

.custom-input {
  color: #000;
}

.error-message {
  color: #e74c3c;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
}

.custom-button {
  --background: #4e54c8;
  --background-hover: #6f73e6;
  --color: #fff;
  border-radius: 8px;
  margin-top: 15px;
  transition: background 0.3s ease, transform 0.2s;
}

.custom-button:hover {
  transform: translateY(-2px);
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.custom-link {
  --color: #4e54c8;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.3s ease;
}

.custom-link:hover {
  --color: #6f73e6;
}

.custom-toolbar {
  position: relative; 
}

.logo-container {
  position: absolute; 
  top: 0; 
  right: 10px;
  height: 100%; 
  display: flex; 
  align-items: center; 
}

.logo-container img {
  width: 80px; 
  height: auto; 
  object-fit: contain; 
}



