<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>

<br>
<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<ion-content class="custom-background">
  <form (ngSubmit)="onRegister()" class="register-form">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="email" name="email" required type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" required type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="custom-button">Registrar</ion-button>
  </form>
</ion-content>
