<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>RegistrAPP QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-segment [(ngModel)]="segment" mode="ios">
    <ion-segment-button value="scan">
      <ion-label>Scanear QR</ion-label>
    </ion-segment-button>

    <ion-segment-button *ngIf="isProfesor" value="generate">
      <ion-label>Generar QR</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment === 'scan'">
    <img src="assets/images/QR.png" alt="DUOC Logo" />
    <ion-button expand="block" (click)="startScan()">
      Iniciar Escaneo
      <ion-icon slot="end" name="scan-outline"></ion-icon>
    </ion-button>

    <ion-item *ngIf="scanResult">
      <ion-label>
        <p>Resultado del Escaneo:</p>
        <div>{{ scanResult }}</div>
      </ion-label>
    </ion-item>
  </div>

  <div *ngIf="segment === 'generate' && isProfesor">
    <div id="qrImage">
      <qr-code [value]="qrRedirectUrl" size="190" errorCorrectionLevel="M"></qr-code>
    </div>
  </div>
</ion-content>
