.popover-content {
    padding: 20px;
    background-color: rgb(119, 119, 119);
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  code {
    background-color: #636363;
    padding: 2px 6px;
    border-radius: 4px;
  }
  