:root {
  --primary-color: #0056a0; 
  --secondary-color: #ffffff;
  --accent-color: #fcb900; 
  --background-light: #f4f4f4;
  --button-hover: #007acc; 
  --dark-background: #222;
  --dark-toolbar-bg: #333;
  --dark-button-bg: #444;
  --dark-button-hover: #555;
  --gradient-bg-light: linear-gradient(to bottom, #0056a0, #ffffff);
  --gradient-bg-dark: linear-gradient(to bottom, #1c1c1c, #3a3a3a);
}

.custom-toolbar {
  --background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  font-size: 20px;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 80px;
  height: auto;
  object-fit: contain;
}

.custom-background {
  background: var(--gradient-bg-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  margin: 0;
  padding: 20px;
  transition: background-color 0.3s ease;
}

#container {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

strong {
  font-size: 28px;
  color: var(--primary-color);
  font-weight: bold;
}

p {
  font-size: 16px;
  color: var(--primary-color);
  margin-top: 5px;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-dark-button {
  width: 90%;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.custom-dark-button:hover {
  background-color: var(--button-hover);
  transform: translateY(-2px);
}

.custom-dark-button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

body.dark {
  --ion-background-color: var(--dark-background);
  --ion-text-color: var(--secondary-color);

  .custom-toolbar {
    --background: var(--dark-toolbar-bg);
    color: var(--secondary-color);
  }

  .custom-background {
    background: var(--gradient-bg-dark);
  }

  #container strong {
    color: var(--secondary-color);
  }

  .custom-dark-button {
    background-color: var(--dark-button-bg);
    color: var(--secondary-color);
  }

  .custom-dark-button:hover {
    background-color: var(--dark-button-hover);
  }
}
