:root {
  --primary-color: #fff;
  --secondary-color: #434343;
  --dark-background: #222;
  --dark-toolbar-bg: #333;
  --dark-button-bg: #444;
  --dark-button-hover: #555;
  --dark-item-bg: #444;
  --dark-item-color: #fff;
  --dark-toggle-bg: #444;
  --dark-toggle-checked: #3e8e41;
  --gradient-bg-light: linear-gradient(to bottom, #000000, #434343);
  --gradient-bg-dark: linear-gradient(to bottom, #1c1c1c, #3a3a3a);
}

.custom-toolbar {
  --background: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  font-size: 20px;
}

.custom-background {
  background: var(--gradient-bg-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  margin: 0;
  padding: 20px;
  transition: background-color 0.3s ease;
}

#container {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

strong {
  font-size: 24px;
  color: var(--primary-color);
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-button {
  width: 90%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--dark-button-bg);
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}

.custom-button:hover {
  transform: scale(1.05);
  background-color: var(--dark-button-hover);
}

body.dark {
  --ion-background-color: var(--dark-background);
  --ion-text-color: var(--primary-color);

  .custom-toolbar {
    --background: var(--dark-toolbar-bg);
    color: var(--primary-color);
  }

  .custom-background {
    background: var(--gradient-bg-dark);
  }

  #container {
    color: var(--primary-color);
  }

  .custom-button {
    background-color: var(--dark-button-bg);
    color: var(--primary-color);
    border: 1px solid var(--dark-button-hover);
  }

  .custom-button:hover {
    background-color: var(--dark-button-hover);
  }

  strong {
    color: var(--primary-color);
  }

  ion-item {
    --background: var(--dark-item-bg);
    --color: var(--dark-item-color);
  }

  ion-icon {
    color: var(--primary-color);
  }

  ion-toggle {
    --background: var(--dark-toggle-bg);
    --color-checked: var(--dark-toggle-checked);
  }

  ion-button {
    --background: var(--dark-button-bg);
    --color: var(--primary-color);
  }

  ion-menu {
    --background: var(--dark-toolbar-bg);
  }

  ion-button ion-icon {
    color: var(--primary-color);
  }

  ion-toggle {
    --background: var(--dark-toggle-bg);
    --color-checked: var(--dark-toggle-checked);
  }
}
