ion-content {
    --background: #000000;
  
    .attendance-container {
      padding: 16px;
  
      .class-card {
        background-color: #1c1c1e;
        border: 1px solid #3a3a3c;
        color: #ffffff;
  
        ion-card-header {
          background-color: #2c2c2e;
          border-bottom: 1px solid #3a3a3c;
          padding: 10px;
  
          ion-card-title {
            font-size: 1.2rem;
            font-weight: bold;
            color: #ffffff;
          }
        }
  
        ion-card-content {
          padding: 10px;
  
          p {
            margin: 5px 0;
            font-size: 0.9rem;
            display: flex;
            align-items: center;
  
            ion-icon {
              margin-right: 8px;
              font-size: 1rem;
              color: #ebf300;
            }
  
            strong {
              color: #ffffff;
            }
          }
        }
  
        ion-button {
          margin-top: 15px;
        }
      }
  
      .no-class {
        text-align: center;
        color: #ffffff;
        font-size: 1.2rem;
        margin-top: 20px;
      }
    }
  }
  