ion-content {
  --background: none;
  
  .attendance-container {
    padding: 16px;
    
    .class-card {
      background-color: #1c1c1e;
      border: 1px solid #3a3a3c;
      color: #ffffff;
      margin-bottom: 20px;
      
      ion-card-header {
        background-color: #2c2c2e;
        border-bottom: 1px solid #3a3a3c;
        padding: 10px;
        
        ion-card-title {
          font-size: 1.2rem;
          font-weight: bold;
          color: #ffffff;
          display: flex;
          align-items: center;
          
          ion-icon {
            margin-right: 10px;
            font-size: 1.4rem;
            color: #a390d4; 
          }
        }
      }
      
      ion-card-content {
        padding: 10px;
        
        p {
          margin: 5px 0;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          
          ion-icon {
            margin-right: 8px;
            font-size: 1rem;
            color: #a390d4; 
          }
          
          strong {
            color: #ffffff;
          }
        }
      }
      
      ion-button {
        margin-top: 15px;
        width: 100%; 
        --background: #a390d4; 
        --color: #ffffff; 
        
        ion-icon {
          margin-right: 10px; 
        }
      }
    }
    

    .no-class {
      text-align: center;
      color: #ffffff;
      font-size: 1.2rem;
      margin-top: 20px;
    }
  }
}
