#container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Mantiene el contenido centrado verticalmente */
  align-items: center; /* Mantiene el contenido centrado horizontalmente */
  height: 100vh; 
  text-align: center;
  position: relative; /* Necesario para el posicionamiento absoluto de los elementos hijos */
}

#container strong {
  font-size: 24px;
  line-height: 32px;
  color: black; /* Cambiado el color a negro */
  margin-bottom: 10px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0 0 20px 0;
}

#container a {
  text-decoration: none;
  font-weight: bold;
  color: #e7fc2f; /* Color de los enlaces */
}

/* Nueva clase para la información de los creadores */
.creator-info {
  position: absolute; /* Posicionamiento absoluto */
  bottom: 10px; /* Distancia desde el fondo */
  left: 20px; /* Distancia desde la izquierda */
  font-size: 12px; /* Tamaño de fuente ajustado */
  color: #666; /* Color opcional */
  text-align: left; /* Alineación a la izquierda */
}

.custom-button {
  --background: #4e54c8;
  --background-hover: #6f73e6;
  --color: #fff;
  border-radius: 8px;
  margin-top: 20px;
}

ion-header {
  --background: linear-gradient(45deg, #4e54c8, #8f94fb);
  --color: #fff; /* Color del texto en el header */
}