#container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  text-align: center;
  position: relative; 
  background-image: url('~src/assets/images/duocuc.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

#container strong {
  font-size: 24px;
  line-height: 32px;
  color: 
  -1px -1px 0 #fbfbfb;
  margin-bottom: 10px;
  text-shadow: 
    -1px -1px 0 #000, 
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #eaf12af5; 
  margin: 0 0 20px 0;
}

#container a {
  text-decoration: none;
  font-weight: bold;
  color: #F1C40F; 
}

.creator-info {
  position: absolute; 
  bottom: 30px;
  left: 20px; 
  font-size: 12px; 
  color: #666;
  text-align: left;
}

.custom-button {
  --background: #1B2E4B; 
  --background-hover: #F1C40F; 
  --color: #F1C40F;
  border-radius: 8px;
  margin-top: 20px;
}

ion-header {
  --background: linear-gradient(45deg, #1B2E4B, #F1C40F); 
  --color: #F1C40F; 
}


#logo {
  width: 250px; 
  margin-bottom: 05px; 
}