<ion-header class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-title #title>Bienvenido a Orbinet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <div id="container">
    <strong #welcomeText>¡Bienvenido a nuestra aplicación!</strong>
    <p #description>Aplicación creada por: Aidan Soto, Lukas Rojas, Matías Hernández, Matías Maldonado y Tomás Vallejos.</p>
    <ion-button #loginButton expand="full" class="custom-button" (click)="goToLogin()">Ingresar a la App</ion-button>
  </div>
</ion-content>
