#loading-animation {
  width: 150px; 
  height: auto; 
}

#loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #fff; 
  padding: 0 10px; 
}
